<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card-title><ion-button [routerLink]="['/Admin']">Admin</ion-button><ion-button [routerLink]="['/employee']">Employee</ion-button><ion-button [routerLink]="['/Officer']">Officer</ion-button>


        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
      </ion-card-content>
    </ion-card>
     
</ion-content>
