<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>
            <ion-button color = "primary">Admin</ion-button>
            <ion-button [routerLink]="['/officer']" color = "secondary">Officer</ion-button>
            <ion-button color = "tertiary">Employee</ion-button>
        </ion-card-title>
      </ion-card-header>
    </ion-card>
</ion-content>
